.home {
  background-color: $color-light;
} 

/* Order, Booking and opening hours */
.links-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin-top: 30px;
}

.order-box, .booking-box {
  flex: 0 0 50%;
  position: relative;
  float: left;
  width: 50%;
  margin-top: 50px;
}

.order-box {
  padding-right: 8px;
}

// .order-box img {
//   margin-right: 10px;
// }

.order-box img, .booking-box img{
  width: 100%;
  // max-width: 100%;
  height: 100px;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.order-box a, .booking-box a{
  color: white;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.order-subtitle {
  color: white;
  display: none;
  font-size: 10px;
}

.row:hover .order-subtitle {
  display: block;
}

.opening-hours-box {
  background: #ff6b6b;
  width: 100%;
  height: 100px;
}

.opening-hours-text {
  color: white;
  text-align: center;
  margin-top: 22px;
}

.opening-hours-text h1 {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

.opening-hours-text h2 {
  margin-top: 0;
  font-size: 11px;
}

/* carousel */

.main-carousel {
  width: 100%;

  .carousel-cell {
    width: 100%;
    padding: 0 60px;
    height: 200px;
  }
}

.carousel-inner {
  display: flex;
}

.carousel-indicators {
  display: none;
}

.carousel {
  margin: 80px 0;
}

.carousel-image img {
  width: 200px;
  height: 200px;
  // max-width: 100%;
}


/* galery */

.galery {
  display: flex;
  flex-wrap: wrap;
}

.galery .galery-image {
  flex: 0 0 33.33%;
  width: 33.33%;
  padding: 5px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.galery .galery-image img {
  // max-width: 200px;
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.icones {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  
  background: rgba(0,0,0,0.5);
  opacity: 0;
}

.galery-image:hover .icones {
  opacity: 1;
  // color: #ff6b6b;
  // height: 100%;
  // max-width: 100%;
  // width: 100%;
}

.icones a {
  color: #fff;
}

.galery-image:hover .icones a {
  color: #ff6b6b;
  // height: 100%;
  // max-width: 100%;
  // width: 100%;
}

.heart-icon {
  margin-right: 10px;
}

.instagram {
  margin-top: 20px;
}
  
.instagram a {
  color: red;
}
